################################################################################
# COMMON CONFIG (active for all profiles)
################################################################################
spring:
  cloud:
    consul:
      enabled: ${CONSUL_ENABLED:true}
      host: ${CONSUL_HOST:localhost}
      discovery:
        prefer-ip-address: true
        ip-address: ${IP_INSTANCE}
        tags: referential-internal, api, internal, xam
        instance-id: referential-internal-${HOSTNAME}
        scheme: https
        health-check-url: http://${IP_INSTANCE}:${MANAGEMENT_PORT:5205}/actuator/health
        health-check-tls-skip-verify: true
    openfeign:
      httpclient:
        disable-ssl-validation: ${OPENFEIGN_HTTPCLIENT_DISABLE_SSL_VALIDATION:true}
      client:
        config:
          default:
            loggerLevel: ${OPENFEIGN_CLIENT_CONFIG_DEFAULT_LOGGER_LEVEL:basic}
  servlet:
    multipart:
      max-file-size: ${SERVLET_MULTIPART_MAX_FILE_SIZE:-1}
      max-request-size: ${SERVLET_MULTIPART_MAX_REQUEST_SIZE:-1}

sae:
  type: ${SAE_TYPE:hybrid}
  esafe:
    organization:
      id-strategy: ${SAE_ESAFE_ORGANIZATION_ID_STRATEGY:RANDOM}
    url: ${SAE_ESAFE_URL:https://esafe-integration.xelians-dev.fr}
    loggerLevel: ${SAE_ESAFE_LOGGER_LEVEL:FULL}
    security:
      user:
        username: ${SAE_ESAFE_SECURITY_USER_USERNAME:root}
        api-key: ${SAE_ESAFE_SECURITY_USER_API_KEY}
  hybrid:
    default-sae: ${SAE_HYBRID_DEFAULT_SAE:vitam}
    tenant-mapping:
      type: ${SAE_HYBRID_TENANT_MAPPING_TYPE:file}
      file:
        path: ${SAE_HYBRID_TENANT_MAPPING_FILE_PATH:/app/data/iam/tenant.json}

logging:
  file:
    name: ${LOG_FILE_PATH:/app/logs/referential_internal.json.log}
  level:
    fr.gouv.vitamui: ${REFERENTIAL_LOG_LEVEL:DEBUG}

server:
  forward-headers-strategy: framework
  port: ${SERVER_PORT:6205}
  ssl:
    key-store: ${SERVER_SSL_KEYSTORE:/app/conf/referential/keystore.p12}
    key-store-password: ${SERVER_SSL_KEYSTORE_PASSWORD:changeme}
    key-password: ${SERVER_SSL_KEY_PASSWORD:${SERVER_SSL_KEYSTORE_PASSWORD:changeme}}
  max-http-request-header-size: ${SERVER_MAX_HTTP_REQUEST_HEADER_SIZE:10KB}
  tomcat:
    connection-timeout: ${SERVER_TOMCAT_CONNECTION_TIMEOUT:60000}
    accesslog:
      enabled: ${SERVER_TOMCAT_ACCESSLOG_ENABLED:false}
      directory: ${SERVER_TOMCAT_ACCESSLOG_DIRECTORY:/app/logs/}

management:
  metrics:
    tags:
      application: ${spring.application.name}
      instance: ${IP_INSTANCE}
      hostname: ${HOSTNAME}
      environment: ${ENVIRONMENT}
  server:
    port: ${MANAGEMENT_PORT:5205}
    ssl:
      enabled: ${MANAGEMENT_SERVER_SSL_ENABLED:false}

springdoc:
  app:
    openIdConnectUrl: ${SPRINGDOC_APP_OPENIDCONNECTURL:https://kubernetes.xam.local/cas/oidc/.well-known/openid-configuration}
  swagger-ui:
    oauth:
      client-id: ${SWAGGER_OAUTH_CLIENT_ID:referential-swagger}
    enabled: ${SPRINGDOC_SWAGGER_ENABLED:true}

app:
  gateway:
    iam:
      name: ${APP_GATEWAY_IAM_NAME:iam-internal}

################################################################################
# kubernetes profile
################################################################################
---

spring.config.activate.on-profile: kubernetes
spring:
  cloud:
    kubernetes:
      enabled: true
      config:
        enabled: false
      reload:
        enabled: false
    consul:
      enabled: false

################################################################################
# opentelemetry profile
################################################################################
---

spring.config.activate.on-profile: opentelemetry
management:
  opentelemetry:
    resource-attributes:
      deployment.environment: ${ENVIRONMENT}
  otlp:
    tracing:
      endpoint: ${OTEL_EXPORTER_OTLP_ENDPOINT}
      export:
        enabled: ${OTEL_EXPORTER_OTLP_TRACING_ENABLED:true}

################################################################################
# baaremetal profile
################################################################################
---

spring.config.activate.on-profile: baaremetal
server:
  ssl:
    enabled: ${SERVER_SSL_ENABLED:true}

################################################################################
# sae profile
################################################################################
---

spring.config.activate.on-profile: sae
spring:
  cloud:
    consul:
      enabled: false
