spring:
  cloud:
    consul:
      discovery:
        ipAddress: ${IP_INSTANCE}
        instance-id: cas-server-dev-env
        health-check-url: http://${IP_INSTANCE}:5001/actuator/health

spring.application.name: cas-server

server:
  ssl:
    key-store: /xelians-apps/conf/cas_server/keystore_cas-server.jks
    key-store-password: changeme
    key-password: changeme
  host: ${IP_INSTANCE}
  port: 6001
  servlet.context-path: /cas
  servlet.session.cookie.path: /cas
  tomcat.basedir: /xelians-apps/conf/cas_server/tomcat

management:
  endpoints:
    enabled-by-default: true
    web:
      exposure:
        include: '*'
  health:
    memoryHealthIndicator:
      enabled: false
  tracing:
    enabled: True
  opentelemetry:
    resource-attributes:
      deployment.environment: ${ENVIRONMENT}
  otlp:
    tracing:
      endpoint: http://tracing.xelians-dev.fr:4318/v1/traces
  metrics:
    tags:
      application: ${spring.application.name}
      instance: ${IP_INSTANCE}
      hostname: ${ENVIRONMENT}-xam
      environment: ${ENVIRONMENT}
    export:
      prometheus:
        enabled: true
  server:
    port: 5001
    ssl:
      enabled: false

cas.server.prefix: https://${ENVIRONMENT}.xelians-dev.fr/cas
login.url: ${cas.server.prefix}/login

cas.service-registry.mongo.client-uri: mongodb://cas:cas@${IP_INSTANCE}:27019/cas?connectTimeoutMS=2000
cas.service-registry.mongo.collection: services
cas.service-registry.mongo.user-id: cas
cas.service-registry.mongo.password: cas

cas.ticket.registry.mongo.client-uri: mongodb://cas:cas@${IP_INSTANCE}:27019/cas?connectTimeoutMS=2000

cas.authn.surrogate.separator: ","
cas.authn.surrogate.mail.attribute-name: fakeNameToBeSureToFindNoAttributeAndNeverSendAnEmail

cas.ticket.tst.time-to-kill-in-seconds: 86400

cas.authn.pm.core.enabled: true
cas.authn.pm.core.password-policy-pattern: '(^(?=(?:.*[a-z]){2,})(?=(?:.*[A-Z]){2,})(?=(?:.*[\d]){2,})[A-Za-zÀ-ÿ0-9$@!%*#£?&=\-\/:;\(\)"\.,\?!''\[\]{}^\+\=_\\\|~<>`]{${password.length},}$)|(^(?=(.*[$@!%*#£?&=\-\/:;\(\)"\.,\?!''\[\]{}^\+\=_\\\|~<>`]){2,})(?=(?:.*[A-Z]){2,})(?=(?:.*[\d]){2,})[A-Za-zÀ-ÿ0-9$@!%*#£?&=\-\/:;\(\)"\.,\?!''\[\]{}^\+\=_\\\|~<>`]{${password.length},}$)|(^(?=(.*[$@!%*#£?&=\-\/:;\(\)"\.,\?!''\[\]{}^\+\=_\\\|~<>`]){2,})(?=(?:.*[a-z]){2,})(?=(?:.*[\d]){2,})[A-Za-zÀ-ÿ0-9$@!%*#£?&=\-\/:;\(\)"\.,\?!''\[\]{}^\+\=_\\\|~<>`]{${password.length},}$)|(^(?=(.*[$@!%*#£?&=\-\/:;\(\)"\.,\?!''\[\]{}^\+\=_\\\|~<>`]){2,})(?=(?:.*[a-z]){2,})(?=(?:.*[A-Z]){2,})[A-Za-zÀ-ÿ0-9$@!%*#£?&=\-\/:;\(\)"\.,\?!''\[\]{}^\+\=_\\\|~<>`]{${password.length},}$)'

cas.authn.pm.reset.mail.subject: Requete de reinitialisation de mot de passe
cas.authn.pm.reset.mail.text: "Changez de mot de passe via le lien: %s"
cas.authn.pm.reset.mail.from: no-reply.dlab@xelians.fr
cas.authn.pm.reset.expiration: "PT1440M"
cas.authn.pm.reset.number-of-uses: 2
cas.authn.pm.reset.mail.attribute-name: email
cas.authn.pm.reset.security-questions-enabled: false
cas.authn.pm.reset.include-server-ip-address: false
cas.authn.pm.reset.include-client-ip-address: false
cas.authn.pm.core.auto-login: true

spring.mail.host: smtp-xam-int.xelians-dev.fr
spring.mail.port: 2525
spring.mail.protocol: smtp
spring.mail.username: no-reply.${ENVIRONMENT}.dlab@xelians.fr
spring.mail.password:
spring.mail.mail-from: no-reply-${ENVIRONMENT}.dlab@xelians.fr
spring.mail.testConnection: false
spring.mail.properties.mail.smtp.auth: false
spring.mail.properties.mail.smtp.starttls.enable: false
spring.mail.properties.mail.transport.protocol: smtp

cas.authn.throttle.failure.threshold: 2
cas.authn.throttle.failure.range-seconds: 3

cas.logout.follow-service-redirects: true
cas.logout.redirect-parameter: next

cas.monitor.endpoints.endpoint.defaults.access[0]: PERMIT

vitamui.portal.url: https://${ENVIRONMENT}.xelians-dev.fr

token.api.cas: tokcas_ie6UZsEcHIWrfv2x

ip.header: X-Real-IP
cas.audit.engine.alternate-client-addr-header-name: X-Forwarded-For

cas.authn.oauth.access-token.max-time-to-live-in-seconds: 28800

cas.authn.oidc.core.issuer: ${cas.server.prefix}/oidc
cas.authn.oidc.jwks.file-system.jwks-file: file:/xelians-apps/conf/cas_server/oidc_keystore.jwks

theme:
  vitamui-platform-name: X-AM
  vitamui-favicon: /xelians-apps/conf/assets/favicon.ico
  vitam-logo: /xelians-apps/conf/assets/locarchives-logo.png
  vitamui-logo-large: /xelians-apps/conf/assets/logo-large.png
  primary: '#093DC5'
  secondary: '#0EBCFF'
  background: '#F5F7FC'
